<div id='container' class='container-fluid'>
    <div class='row trans' ng-if='_epi.success'>
        <div class='jumbo jumbotron'>
            <div class='media'>
                <div class='media-left'>
                    <img class='media-object' ng-src='{{_epi.img}}'>
                </div>
                <div class='media-body'>
                    <h1 class='media-heading'>{{ _epi.headTitle }}</h1>
                    <p>{{ _epi.defaultDescription }}</p>
                    <div ng-click='_epi.remove()' class='btn btn-danger'><a href='#'>Unsubscribe</a></div>
                </div>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h4 id='head'> {{ _epi.title }} </h4>
                    <div ng-click='_epi.loadData()' class='btn btn-success round'><i class='fa fa-play'></i></div>
                    <div ng-click='_epi.queueData()' class='btn btn-primary round'><i class='fa fa-plus'></i></div>
                </div>
                <div id='desc' class='panel-body'>
                    {{ _epi.firstDesc }}
                </div>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h4>Episodes</h4>
                    <div ng-click='_epi.prev()' class='btn select square'><i class='fa fa-arrow-left'></i></div>
                    <div ng-click='_epi.next()' class='btn select square'><i class='fa fa-arrow-right'></i></div>
                </div>
                <ul class='list-group'>
                    <li class='list-group-item episodes' ng-click='_epi.updatePanel($event)' ng-repeat='episode in _epi.episodes | limitTo:5:_epi.index' url='{{episode.url}}' title='{{episode.title}}' desc='{{episode.desc}}'>
                        {{ episode.title }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='row trans' ng-if="_epi.failed">
        <div class='jumbo jumbotron'>
            <h1>Resource is currently unavailable.</h1>
            <p>Please try again later</p>
        </div>
    </div>
</div>