/*************Default html tags***************/

body {
    font-family: 'Lato', sans-serif;
    min-height: 850px;
    padding-top: 100px;
    font-weight: lighter;
    background: #cc2b2a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #753a88, #cc2b2a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #753a88, #cc2b2a);
}

h1 {
    font-weight: 300;
    color: rgba(31, 31, 31, .8);
}

li {
    border-bottom-color: red;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn a:hover {
    color: white;
    text-decoration: none;
}

.btn.round {
    border-radius: 175px;
    box-shadow: 1px 2px 3px #1F1F1F;
    text-shadow: 1px 2px 3px #1F1F1F;
    transition: all .2s;
    color: #f8f8ff;
}

.btn.round.queue {
    background-color: rgba(117, 58, 136, .7);
}

.btn.round.queue:hover {
    background-color: rgba(100, 48, 128, .7);
}

.btn.round:hover {
    text-shadow: none;
    transition: all .2s;
}

.btn.select.square {
    font-size: 12px;
    background-color: rgba(45, 45, 45, .7);
    border-radius: 10px;
    box-shadow: 1px 2px 3px #1F1F1F;
    text-shadow: 1px 2px 3px #1F1F1F;
    transition: all .2s;
    color: #f8f8ff;
}

.btn.select.square:hover {
    background-color: rgba(12, 12, 12, .9);
}

h3>a {
    color: #753a88;
}

#q-notify {
    position: absolute;
    z-index: 10;
    left: 575px;
    top: -10px;
}

#q-img {
    width: 25px;
    height: auto;
}

#container {
    min-height: 820px;
    margin: -50px 0 0 0;
    width: 100%;
    background-color: rgba(31, 31, 31, .7);
    z-index: 1;
}

.row.trans {
    background-color: rgba(31, 31, 31, .7);
}


/*********************************************/


/********Nav words are main navigation categories (Library, Discover..*/

.nav-wd {
    margin: 15px 25px 0 0;
    transition: all .5s;
    cursor: pointer;
    font-size: 25px;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    transition: all .5s;
    color: #FFFFFF;
}

.nav-wd a {
    text-decoration: none;
    color: #AFAFAF
}

.nav-wd.act {
    color: #FFFFFF;
    border-bottom-color: rgba(100, 48, 128, .9);
    transition: all .5s;
    /*text-shadow: 1px 1px 1px #EEEEEE;*/
}

.nav-wd.deact {
    color: #AFAFAF !important;
    border-bottom: none;
    transition: all .5s;
}

.nav-ptr {
    font-size: 3rem;
    color: #f19143;
    /*text-shadow: 1px 1px 1px #EEEEEE;*/
}

.nav-loc {
    font-size: 3rem;
    margin: -20px 0 0 20px;
    color: #fabc3c;
    transition: all .5s;
    /*text-shadow: 1px 1px 1px #EEEEEE;*/
}

.navbar-fixed-bottom {
    float: right;
}

.notify {
    position: absolute;
    z-index: 10;
    width: 25px;
    background-color: rgba(12, 175, 12, .5)
}

#top-bar {
    height: 3%;
}


/****************************************************************/


/***********MAIN CONTENT WINDOW*************/

#app-render {
    height: 100%;
    width: 100%;
    margin: -50px auto;
}


/*******************************************/


/************Cards********************/

.card.discover {
    border: thick #000000;
    box-shadow: 3px 2px 2px #9A9A9A;
    width: 19rem;
    display: inline-block;
    margin: 30px 25px 20px 0;
    padding: 0 0 15px 0;
    background-color: #FFFFFF;
}

.card.library {
    width: 20rem;
    display: inline-block;
    padding: 0 0 15px 0;
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card .btn {
    margin: 10px 0 0 0;
}

.card-block {
    background-color: #FFFFFF;
}

.card-cont {
    position: relative;
}

.card.face {
    position: relative;
}

.card.face:hover {
    opacity: .8;
}

.card.face.x {
    top: -50px;
    left: 0;
    position: absolute;
    color: #8b0000;
    font-weight: bolder;
    z-index: 6;
}

#close-btn {
    position: absolute;
    left: 838px;
    top: -35px;
    color: #EFEFEF;
    font-size: 15px;
    cursor: pointer;
}

#min-btn {
    left: -absolute;
    position: relative;
    top: -40px;
    left: 810px;
    color: #EFEFEF;
    font-size: 15px;
    cursor: pointer;
}

#close-btn:hover {
    color: #f19143;
}

#min-btn:hover {
    color: #f19143;
}

#srch {
    margin: 0 0 0 800px;
}


/************ROWS*********************/

.row {
    padding: 25px 0 0 0;
    background-color: #EFEFEF;
}


/***********************************/

.list-group-item.episodes {
    cursor: pointer;
    background-color: rgba(31, 31, 31, .4);
    box-shadow: none;
    border: none;
    color: #f8f8ff;
}

.list-group-item.episodes:hover {
    background-color: rgba(117, 58, 136, .7);
    color: #FFFFFF;
    box-shadow: none;
    border: none;
}

.list-group {
    max-height: 625px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: black;
    box-shadow: none;
    border: none;
    background-color: rgba(31, 31, 31, .7);
}

#desc {
    max-height: 1000px;
}


/*********Scroll bar*****************/

 ::-webkit-scrollbar {
    width: 0;
}


/**********Media Player***************/

#player {}


/*************************************/


/***********List Group****************/


/*************************************/

.media-left img {
    width: 175px;
    opacity: 1 !important;
}

.media {
    margin: 0 0 0 25px;
}

.panel-heading {
    background-color: rgba(31, 31, 31, .2) !important;
    color: #FFFFFF !important;
    box-shadow: none;
    border: none;
}

.jumbo {
    background-color: rgba(31, 31, 31, 0);
    color: #FFFFFF !important;
}

.panel {
    background-color: rgba(31, 31, 31, .6);
    color: #f8f8ff !important;
    z-index: 10;
    box-shadow: none;
    border: none;
}

#bottom-bar {
    background-color: rgba(31, 31, 31, 1);
    /* fallback for old browsers */
    border-radius: 2px;
}

.navbar-default.navbar-fixed-bottom.opaque {
    opacity: 1;
    transition: all .5s;
}

.navbar-default.navbar-fixed-bottom.trans {
    opacity: 1;
    transition: all .5s;
}

#play {
    font-size: 25px;
    float: left;
    transition: all .5s;
    margin: 20px 15px 0 15px;
    cursor: pointer;
    color: #f8f8ff;
    opacity: .9;
}

#next {
    font-size: 25px;
    float: left;
    transition: all .5s;
    margin: 20px 0 0 0;
    cursor: pointer;
    color: #f8f8ff;
    opacity: .9;
}

#up-next {
    top: 7px;
    left: 0;
    position: relative;
    width: 42px;
    height: 42px;
}

#upnxt-ovrly {
    top: 0;
    left: 0;
    position: absolute;
    height: 42px;
    width: 42px;
    background: rgb(10, 10, 10);
    opacity: .7;
    z-index: 10;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    padding: 5px 0 0 0;
    color: #F8F8FF;
}

#upnxt-img {
    top: 0;
    left: 0;
    position: absolute;
    height: 42px;
    width: 42px;
    z-index: 5;
    opacity: .9;
}

#album {
    width: 50px;
    height: auto;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.eq-cont {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 0;
}

.track-info {
    padding: 50px 0 0 0;
}

.track-stats {
    position: relative;
    width: 400px;
}

#track-text {
    position: absolute;
    transition: all .4s;
}

.track-time {
    position: absolute;
    top: -15px;
    font-size: 10px;
}

#end-time {
    left: 105px;
}

progress {
    background: #cc2b2a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b2a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b2a);
    height: 6px;
    width: 1318px;
    transition: all .3s;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    left: -10px;
}

progress::-webkit-progress-value {
    opacity: .8;
    background: #cc2b2a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b2a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b2a);
    height: 6px;
    transition: all .3s;
    cursor: pointer;
    position: absolute;
}

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    left: 0;
    size: 50px;
    color: white;
}

#q-info {
    color: #F8F8FF;
    position: relative;
    left: 45px;
    top: 25px;
}

.vol-cont {
    margin: 30px 0 0 0;
    width: 100px;
    height: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#vol {
    position: absolute;
    background: rgba(5, 5, 5, .4);
    height: 8px;
    width: 75px;
    transition: all .3s;
    align-self: flex-end;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.fa.fa-volume-off {
    font-size: 18px;
    margin: 25px 5px 0 0;
    color: #F8F8FF;
}

.fa.fa-volume-up {
    font-size: 18px;
    margin: 25px 0 0 -20px;
    color: #F8F8FF;
}

#searchbar {
    height: 25px;
    position: absolute;
    left: -250px;
    width: 150px;
}

#search-btn {
    height: 25px;
    position: absolute;
    left: -100px;
}

#search:focus {
    width: 300px;
}