/*************Default html tags***************/

body {
    font-family: 'Lato', sans-serif;
    padding-top: 100px;
    font-weight: lighter;
    background-color: #EFEFEF;
}

h1 {
    font-weight: 300;
    color: rgba(31, 31, 31, .8);
}

li {
    border-bottom-color: red;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn a:hover {
    color: white;
    text-decoration: none;
}

h3>a {
    color: #753a88;
}


/*********************************************/


/********Nav words are main navigation categories (Library, Discover..*/

.nav-wd {
    margin: 0 20px 0 20px;
    transition: all .5s;
    cursor: pointer;
}

.nav-wd.act {
    color: #FFFFFF;
    font-size: 3rem;
    /*text-shadow: 1px 1px 1px #EEEEEE;*/
}

.nav-wd.deact {
    padding: 11px 0 0 0;
    color: #AFAFAF;
    font-size: 2rem;
    float: left;
}

.nav-ptr {
    font-size: 3rem;
    color: #f19143;
    /*text-shadow: 1px 1px 1px #EEEEEE;*/
}

.nav-loc {
    font-size: 3rem;
    margin: -20px 0 0 20px;
    color: #fabc3c;
    transition: all .5s;
    /*text-shadow: 1px 1px 1px #EEEEEE;*/
}

.navbar-fixed-bottom {
    float: right;
}

.notify {
    position: absolute;
    z-index: 10;
    width: 25px;
    background-color: rgba(12, 175, 12, .5)
}


/****************************************************************/


/***********MAIN CONTENT WINDOW*************/

#app-render {
    min-height: 1250px;
    width: 100%;
}


/*******************************************/


/************Cards********************/

.card.discover {
    border: thick #000000;
    box-shadow: 3px 2px 2px #9A9A9A;
    width: 19rem;
    display: inline-block;
    margin: 30px 25px 20px 0;
    padding: 0 0 15px 0;
    background-color: #FFFFFF;
}

.card.library {
    width: 20rem;
    display: inline-block;
    padding: 0 0 15px 0;
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card .btn {
    margin: 10px 0 0 0;
}

.card-block {
    background-color: #FFFFFF;
}

.card-cont {
    position: relative;
}

.card.face {
    position: relative;
}

.card.face:hover {
    opacity: .8;
}

.card.face.x {
    top: -50px;
    left: 0;
    position: absolute;
    color: #8b0000;
    font-weight: bolder;
    z-index: 6;
}

#close-btn {
    position: absolute;
    left: 838px;
    top: -35px;
    color: #EFEFEF;
    font-size: 15px;
    cursor: pointer;
}

#min-btn {
    left: -absolute;
    position: relative;
    top: -40px;
    left: 810px;
    color: #EFEFEF;
    font-size: 15px;
    cursor: pointer;
}

#close-btn:hover {
    color: #f19143;
}

#min-btn:hover {
    color: #f19143;
}

#srch {
    margin: 0 0 0 800px;
}


/************ROWS*********************/

.row {
    padding: 25px 0 0 0;
    background-color: #EFEFEF;
}


/***********************************/

.list-group-item.episodes {
    cursor: pointer;
}

.list-group-item.episodes:hover {
    background: #753a88;
    color: #FFFFFF;
}

.list-group {
    max-height: 625px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    color: black;
}

#desc {
    max-height: 1000px;
}


/*********Scroll bar*****************/

 ::-webkit-scrollbar {
    width: 0;
}


/**********Media Player***************/

#player {}


/*************************************/


/***********List Group****************/


/*************************************/

.media-left img {
    width: 175px;
}

.media {
    margin: 0 0 0 25px;
}

.panel-heading {
    background: #1F1F1F !important;
    color: #FFFFFF !important;
    opacity: .8;
}

.jumbo {
    background: #1F1F1F !important;
    color: #FFFFFF !important;
    opacity: .8;
}

.panel {
    box-shadow: 1px 2px 3px #8F8F8F;
}

#bottom-bar {
    background: #EFEFEF;
    /* fallback for old browsers */
    border-radius: 2px;
}

.navbar-default.navbar-fixed-bottom.opaque {
    opacity: 1;
    transition: all .5s;
}

.navbar-default.navbar-fixed-bottom.trans {
    opacity: 1;
    transition: all .5s;
}

#play {
    font-size: 30px;
    float: left;
    transition: all .5s;
    margin: 20px 25px 0 0;
    cursor: pointer;
}

#album {
    width: 50px;
    height: auto;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.eq-cont {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 0;
}

.track-info {
    padding: 50px 0 0 0;
}

.track-stats {
    position: relative;
    width: 400px;
}

#track-text {
    position: absolute;
    transition: all .4s;
}

.track-time {
    position: absolute;
    top: -15px;
    font-size: 10px;
}

#end-time {
    left: 105px;
}

progress {
    background: #cc2b2a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b2a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b2a);
    height: 6px;
    width: 1318px;
    transition: all .3s;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    left: -10px;
}

progress::-webkit-progress-value {
    background: #cc2b2a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b2a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b2a);
    height: 6px;
    transition: all .3s;
    cursor: pointer;
    position: absolute;
}

.vol-cont {
    margin: 30px 0 0 0;
    width: 100px;
    height: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#vol {
    position: absolute;
    background: rgba(5, 5, 5, .4);
    height: 8px;
    width: 75px;
    transition: all .3s;
    align-self: flex-end;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.fa.fa-volume-off {
    font-size: 18px;
    margin: 25px 5px 0 0;
}

.fa.fa-volume-up {
    font-size: 18px;
    margin: 25px 0 0 -20px;
}

#searchbar {
    position: absolute;
    left: -250px;
    width: 150px;
}

#search-btn {
    position: absolute;
    left: -100px;
}

#search:focus {
    width: 300px;
}