#top-bar {
    background: #114B62;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1A9AA3, #114B62);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1A9AA3, #114B62);
    border: none;
    box-shadow: 2px 0 1px #4F4F4F;
}

#bottom-bar p {
    color: #114B62;
    font-weight: bold;
    margin: 25px 0 0 0;
}

.eq {
    background: #114B62;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1A9AA3, #114B62);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1A9AA3, #114B62);
    height: 1px;
    width: 5px;
    transition: all .5s;
    align-self: flex-end;
    margin: 0 1px 0 0;
}

#vol-overlay {
    position: absolute;
    background: #114B62;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1A9AA3, #114B62);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1A9AA3, #114B62);
    height: 8px;
    width: 75px;
    transition: all .3s;
    align-self: flex-end;
    z-index: 5;
    top: 0;
    left: 0;
    cursor: pointer;
}

#dur-overlay {
    position: absolute;
    background: #114B62;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1A9AA3, #114B62);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1A9AA3, #114B62);
    height: 4px;
    transition: all .3s;
    align-self: flex-end;
    z-index: 5;
    top: 0;
    left: 0;
    cursor: pointer;
}